img{
width:300px;
}
body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(247, 34, 34);
    color:aqua;
}
img{
    widt:300px;
}
body{
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    
}

